.treat{
  margin: 25px auto;
    display: block;
    text-align: center;
  img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    border: 2px solid #fff;
  }
}
.s-imgs{
  margin: 15px 0;
  .s-img{
    max-height: 200px;
      object-fit: cover;
  }
}

.w-100{
  width: 100%;
}

.guest{
  .right{
    padding-right: 5px!important;
  }
  .left{
    padding-left: 5px!important;
  }
  .img-guest{
    min-height: 207px;
    max-height: 207px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    background-size: cover!important;
    &.dip{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/1.jpg);
    }
    &.dine{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/2.jpg);
    }
    &.stay{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/2.jpg);
      margin-top: 10px;
    }
    &.celeb{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/4.jpg);
    }
    &.tag{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/5.jpg);
      margin-top: 10px;
    }
    &.know{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/6.jpg);
    }
    &.act{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/7.jpg);
      margin-top: 10px;
    }
    &.transpo{
      background: linear-gradient(rgba(36, 74, 87, 0.8), rgba(36, 74, 87, 0.6)), url(/img/home/services/8.jpg);
      margin-top: 10px;
    }
    &.bigger{
      min-height: 250px;
      max-height: 250px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    &.smaller{
      min-height: 135px;
      max-height: 135px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    &.smaller2{
      min-height: 165px;
      max-height: 165px;
      object-fit: cover;
    }
    p{
      font-size: 15px;
      color: $yellow;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-family: $font-family-head;
    }
  }
}
.rental{
  .card{
    -webkit-box-shadow: 10px 10px 10px -8px rgba(173,173,173,1);
    -moz-box-shadow: 10px 10px 10px -8px rgba(173,173,173,1);
    box-shadow: 10px 10px 10px -8px rgba(173,173,173,1);
  }
  .card-title{
    min-height: 45px;
  }
  .card-img-top{
    width: 100%;
  max-height: 210px;
  min-height: 210px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  object-fit: cover;
  }
  .card-body{
    max-height: 350px;
    min-height: 350px;
    p{
      span{
        min-height: 120px;
      }
    }
  }

}
