
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-body: 'Open Sans', sans-serif;
$font-family-head: 'Modern Antiqua', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brown: #bda163;
$wood:  #563f1f;
$logored:   #7d2726;
// $blue:  #184379;

$blue: #244a57;
$lblue: #44afdb;
$dorange: #e3751e;
$lorange: #ee9e47;
// $red: #b30009;
$yellow: #ffeb04;
