
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-body: 'Open Sans', sans-serif;
$font-family-head: 'Modern Antiqua', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brown: #bda163;
$wood:  #563f1f;
$red:   #7d2726;
$blue:  #184379;
